## 特徴量の説明

- MSSubClass : 構築クラス
- MSZoning : 一般的なゾーニング分類
- LotFrontage : 敷地につながる道路の直線フィート
- LotArea : 敷地サイズ (平方フィート)
- Street: 道路アクセスの種類
- Alley: 路地のアクセスのタイプ
- LotShape : 物件の一般的な形状
- LandContour : 土地の平坦度
- Utilities: 利用可能なユーティリティの種類
- LotConfig : ロット構成
- LandSlope : 敷地の斜面
- Neighborhood: エイムズ市内の物理的な場所
- Condition1 : 幹線道路または鉄道に近いこと
- Condition 2 : 幹線道路または鉄道に近い (2 番目の道路が存在する場合)
- BldgType : 住居の種類
- HouseStyle : 住居のスタイル
- TotalQual : 全体的な材質と仕上げの品質
- OverallCond : 全体的な状態の評価
- YearBuilt : 元の建設日
- YearRemodAdd : 改造日
- RoofStyle : 屋根のタイプ
- RoofMatl : 屋根材
- Exterior1st : 家の外装材
- Exterior2nd : 家の外装材 (複数の素材の場合)
- MasVnrType : 石積みベニヤタイプ
- MasVnrArea : 石積みベニヤ面積 (平方フィート)
- ExterQual : 外装材の品質
- ExterCond : 外装の材質の現状
- Foundation: ファンデーションの種類
- BsmtQual : 地下室の高さ
- BsmtCond : 地下室の一般的な状態
- BsmtExposure : ウォークアウトまたは庭レベルの地下壁
- BsmtFinType1 : 地下仕上げエリアの品質
- BsmtFinSF1 : タイプ 1 仕上がり平方フィート
- BsmtFinType2 : 2 番目に完成した領域の品質 (存在する場合)
- BsmtFinSF2 : タイプ 2 仕上がり平方フィート
- BsmtUnfSF : 未完成の地下エリアの平方フィート
- TotalBsmtSF : 地下室面積の合計平方フィート
- Heating: 暖房の種類
- HeatingQC : 加熱の品質と状態
- CentralAir : セントラル空調
- Electrical: 電気システム
- 1stFlrSF : 1階平方フィート
- 2ndFlrSF : 2階の平方フィート
- LowQualFinSF : 低品質仕上げ平方フィート (全フロア)
- GrLivArea : 地上 (地上) 居住エリア平方フィート
- BsmtFullBath : 地下室のフルバスルーム
- BsmtHalfBath : 地下のハーフバスルーム
- FullBath : グレード上のフルバスルーム
- HalfBath : 地上の半身浴
- Bedroom: 地下階以上の寝室の数
- Kitchen: キッチンの数
- KitchenQual : キッチン品質
- TotRmsAbvGrd : グレード以上の部屋の合計 (バスルームは含まれません)
- Functional: ホーム機能の評価
- Fireplaces: 暖炉の数
- FireplaceQu : 暖炉の品質
- GarageType : ガレージの場所
- GarageYrBlt : ガレージが建てられた年
- GarageFinish : ガレージの内装仕上げ
- GarageCars : 車の収容台数におけるガレージのサイズ
- GarageArea : ガレージのサイズ (平方フィート)
- GarageQual : ガレージ品質
- GarageCond : ガレージの状態
- PavedDrive : 舗装された私道
- WoodDeckSF : ウッドデッキ面積 (平方フィート)
- OpenPorchSF : オープンポーチエリア (平方フィート)
- EnclosedPorch : 囲まれたポーチの面積 (平方フィート)
- 3SsnPorch : 3 シーズン用ポーチ面積 (平方フィート)
- ScreenPorch : スクリーン ポーチの面積 (平方フィート)
- PoolArea : プール面積 (平方フィート)
- PoolQC : プールの品質
- Fence: フェンスの品質
- MiscFeature : 他のカテゴリではカバーされていないその他の機能
- MiscVal : その他の機能の値段
- MoSold : 販売月
- YrSold : 販売年
- SaleType : 販売の種類
- SaleCondition : 販売条件

In [1]:
import pandas as pd
import numpy as np
 
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
print(train.shape)
print(test.shape)
train.head()

(1460, 81)
(1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

### 数字のみにする

In [4]:
for column in train.columns:
    train[column] = pd.to_numeric(train[column], errors='coerce')

# 全ての値がNaNの列を削除
train = train.dropna(axis=1, how='all')
print(train.shape)

(1460, 38)

In [5]:
for column in test.columns:
    test[column] = pd.to_numeric(test[column], errors='coerce')

# 全ての値がNaNの列を削除
test = test.dropna(axis=1, how='all')
print(test.shape)

(1459, 37)

### データを切り分ける

In [6]:
y_train = train.pop('SalePrice').values
train.pop('Id')
answer = test.pop('Id')
X_train = train.values
X_test = test.values

In [7]:
print(y_train.shape)
print(X_train.shape)
print(X_test.shape)

(1460,)
(1460, 36)
(1459, 36)

### 空のデータに値を補完

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
X_test = imputer.fit_transform(X_test)
X_train = imputer.fit_transform(X_train)

In [9]:
print("NaN values in X_test:", np.isnan(X_test).any())

NaN values in X_test: False

### 正規化
最大-最小スケーリング

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

### 訓練

In [13]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)

Ridge()

In [14]:
y_pred = ridge.predict(X_test)

In [15]:
print(y_pred)
print(y_pred.shape)

[119487.88750587 158391.16031696 178617.4454487  ... 178325.32578461
 104819.53493104 257427.21348972]
(1459,)

In [16]:
answer = answer.to_frame()
print(answer)
print(answer.shape)
print(type(y_pred))

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]
(1459, 1)
<class 'numpy.ndarray'>

In [17]:
answer.columns = ['Id']
answer['SalePrice'] = y_pred
print(answer)

        Id      SalePrice
0     1461  119487.887506
1     1462  158391.160317
2     1463  178617.445449
3     1464  203020.259564
4     1465  193789.269999
...    ...            ...
1454  2915   59955.188701
1455  2916   67151.998788
1456  2917  178325.325785
1457  2918  104819.534931
1458  2919  257427.213490

[1459 rows x 2 columns]

In [18]:
answer.to_csv('output3.csv', index=False)